body {
  background: #c38d9e;
}

div.main {
  background: #41b3a3;

  height: 100%;
  border-radius: 30px;
  margin: 5%;
  padding: 20px;
}

ul.currentBooks {
  list-style-type: none;
}

ul.currentBooks p {
  margin: 0;
  float: left;
}

li.title {
  font-size: 32px;
  margin-bottom: 0;
}


li.pages {
  float: left;
  margin: 5px 10px 10px 10px;
}

li.currentPage {
  float: left;
  margin: 5px 10px 10px 10px;
}

li.dailyGoal {
  float: left;
  margin: 5px 10px 10px 10px;
}

li.pageInput {
  float: left;
  margin: 5px 10px 10px 10px;
}

div#addBookDiv {
  /* Start hidden until new book button is pressed */
  display: none;
}

h1.header {
  text-align: center;
}
